.contentWrapper{
  //background-color: red;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  #api-frame{
    display: inline-block;
    margin: 8% 0 8% 0;
  }

}